{% extends 'layout.html' %}
{% block content %}
<div class="container">
    {% from "_formhelpers.html" import render_field  %}
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
            {% for category,message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>

    {% endif %}
    {% endwith %}
    <br>
    <br>
    <br>
    <div class="row">
    <div class="col-md-12">
        <img src="static/images/index/360_F_544546950_Xi80k2ppry7rqKQQYsSNVmuaAILUiki9.jpg" class="img-fluid mb-3 w-100 h-50 bottom-100" alt="Hình ảnh mô tả" />
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            <i class="bi bi-truck display-1"></i>
            <div>
                <h2 class="text-danger"> Khuyến mãi vận chuyển</h1>
                <p> Chọn lựa các file sách ebook hoặc audiobook</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            <i class="bi bi-piggy-bank display-1"></i>
            <div>
                <h2 class="text-danger"> Giảm giá mạnh</h1>
                <p> Nhận giảm giá tốt cho sản phẩm được đánh giá cao nhất của chúng tôi</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center">
            <i class="bi bi-rocket-takeoff display-1"></i>
            <div>
                <h2 class="text-danger"> Chuyển phát nhanh</h1>
                <p> Tận hưởng các chính sách vận chuyển và dịch vụ giao hàng nhanh của chúng tôi</p>
            </div>
        </div>
    </div>
</div>

</div>
<section id="billboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <button class="prev slick-arrow">
                    <i class="icon icon-arrow-left"></i>
                </button>

                <div class="main-slider pattern-overlay">
                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Life of the Wild</h2>
                            <p>"Life of the Wild" là một cuốn sách đầy kỳ vọng về cuộc sống hoang dã, nó mở ra một thế giới hoang dã đầy kỳ diệu và bí ẩn. Tác giả tận dụng tài năng vượt trội của mình để chia sẻ về các hành trình phiêu lưu và những kỷ niệm đáng nhớ khi sống cùng với tự nhiên.

                            </p>
                            <div class="btn-wrap">
                                <a href="{{url_for('product_detail',id=16)}}" class="btn btn-outline-accent btn-accent-arrow">Xem Thêm<i
                                        class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div><!--banner-content-->
                        <img src="/static/images/index/main-banner1.jpg" alt="banner" class="banner-image">
                    </div><!--slider-item-->

                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Birds gonna be Happy</h2>
                            <p>Birds Gonna Be Happy" của Timbur Hoods là một cuốn sách tuyệt vời về thế giới đa dạng và kỳ diệu của loài chim. Tác giả mang đến cho độc giả những câu chuyện hấp dẫn và thông tin thú vị về cuộc sống, hành vi và các loài chim khác nhau trên khắp thế giới..</p>
                            <div class="btn-wrap">
                                <a href="{{url_for('product_detail',id=15)}}" class="btn btn-outline-accent btn-accent-arrow">Xem thêm<i
                                        class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div>
                        <img src="/static/images/index/main-banner2.jpg" alt="banner" class="banner-image">
                    </div>

                </div>

                <button class="next slick-arrow">
                    <i class="icon icon-arrow-right"></i>
                </button>

            </div>
        </div>
    </div>

</section>
<div class="container-fluid">
    <h1 class="text-center text-danger">Sách nổi bật</h1>
</div>

<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-6">
                        <figure class="products-thumb">
                            <img src="/static/images/index/single-image.jpg" alt="book" class="single-image">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling Book</h2>

                            <div class="products-content">
                                <div class="author-name">By Timbur Hood</div>
                                <h3 class="item-title">Birds gonna be happy</h3>
                                <p>Birds Gonna Be Happy" của Timbur Hoods là một cuốn sách tuyệt vời về thế giới đa dạng và kỳ diệu của loài chim. Tác giả mang đến cho độc giả những câu chuyện hấp dẫn và thông tin thú vị về cuộc sống, hành vi và các loài chim khác nhau trên khắp thế giới..</p>
                                <div class="item-price">120.000VNĐ</div>
                                <div class="btn-wrap">
                                    <a  class="btn-accent-arrow" href="{{url_for('product_detail',id=15)}}">Mua ngay<i
                                            class="icon icon-ns-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / row -->

            </div>

        </div>
    </div>
</section>
<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Sách chất lượng cao</span>
                    </div>
                    <h2 class="section-title">Sách Hot</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">
                        {% for book in featured_books%}
                        <div class="col-md-3">
                            <div class="product-item">
                                <figure class="product-style">
                                    <img src="/static/images/{{ book.image_1 }}" alt="Books" class="product-item">
                                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                        <a class='text-primary' href="{{ url_for('product_detail', id=book.id) }}">Xem chi tiết</a>
                                    </button>
                                    
                                </figure>
                                <figcaption>
                                    <h3>{{book.name}}</h3>
                                    <span>{{book.author}}</span>
                                    <div class="item-price">{{book.price}} VNĐ</div>
                                </figcaption>
                            </div>
                        </div>

                        {%endfor%}
                    </div><!--ft-books-slider-->
                </div><!--grid-->


            </div><!--inner-content-->
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="btn-wrap align-right">
                    <a href="{{url_for('product_page')}}" class="btn-accent-arrow">Hiển thị tất cả sản phẩm <i
                            class="icon icon-ns-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>    
<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Sách tốt</span>
                    </div>
                    <h2 class="section-title">Sách phổ biến</h2>
                </div>

                <ul class="tabs">
                    <li data-tab-target="#all-genre" class="active tab">Tất cả</li>
                    <li data-tab-target="#business" class="tab">Tiểu thuyết</li>
                    <li data-tab-target="#technology" class="tab">Lịch sử</li>
                    <li data-tab-target="#romantic" class="tab">Ngôn tình</li>
                    <li data-tab-target="#adventure" class="tab">Huyền bí</li>
                    <li data-tab-target="#fictional" class="tab">Trinh thám</li>
                </ul>

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        <div class="row">
                            {%for product in popular_books%}
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="/static/images/{{ product.image_1 }}" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart"><a class='text-white' href="{{url_for('product_detail',id=product.id)}}">Xem ngay</a></button>
                                    </figure>
                                    <figcaption>
                                        <h3>{{product.name}}</h3>
                                        <span>{{product.author}}</span>
                                        <div class="item-price">{{product.price}} VNĐ</div>
                                    </figcaption>
                                </div>
                            </div>
                            {%endfor%}

                           
                        </div>
                        <div class="row">
                            {%for product in romance_novels%}
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="/static/images/{{ product.image_1 }}" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart"><a class='text-white' href="{{url_for('product_detail',id=product.id)}}">Xem ngay</a></button>
                                    </figure>
                                    <figcaption>
                                        <h3>{{product.name}}</h3>
                                        <span>{{product.author}}</span>
                                        <div class="item-price">{{product.price}} VNĐ</div>
                                    </figcaption>
                                </div>
                            </div>
                            {%endfor%}

                        </div>

                    </div>
                    <div id="business" data-tab-content>
                        <div class="row">
                            <div class="row">
                                {%for product in popular_books%}
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="/static/images/{{ product.image_1 }}" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart"><a class='text-white' href="{{url_for('product_detail',id=product.id)}}">Xem ngay</a></button>
                                        </figure>
                                        <figcaption>
                                            <h3>{{product.name}}</h3>
                                            <span>{{product.author}}</span>
                                            <div class="item-price">{{product.price}} VNĐ</div>
                                        </figcaption>
                                    </div>
                                </div>
                                {%endfor%}
    
                            </div>
                        </div>
                    </div>

                    <div id="technology" data-tab-content>
                        <div class="row">
                            <div class="row">
                                {%for product in historical_novels%}
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="/static/images/{{ product.image_1 }}" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart"><a class='text-white' href="{{url_for('product_detail',id=product.id)}}">Xem ngay</a></button>
                                        </figure>
                                        <figcaption>
                                            <h3>{{product.name}}</h3>
                                            <span>{{product.author}}</span>
                                            <div class="item-price">{{product.price}} VNĐ</div>
                                        </figcaption>
                                    </div>
                                </div>
                                {%endfor%}
    
                            </div>
                        </div>
                    </div>

                    <div id="romantic" data-tab-content>
                        <div class="row">
                            
                            <div class="row">
                                {%for product in romance_novels%}
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="/static/images/{{ product.image_1 }}" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart"><a class='text-white' href="{{url_for('product_detail',id=product.id)}}">Xem ngay</a></button>
                                        </figure>
                                        <figcaption>
                                            <h3>{{product.name}}</h3>
                                            <span>{{product.author}}</span>
                                            <div class="item-price">{{product.price}} VNĐ</div>
                                        </figcaption>
                                    </div>
                                </div>
                                {%endfor%}
    
                            </div>
                        </div>
                    </div>

                    <div id="adventure" data-tab-content>
                        <div class="row">
                            <div class="row">
                                {%for product in fictional_novels%}
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="/static/images/{{ product.image_1 }}" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart"><a class='text-white' href="{{url_for('product_detail',id=product.id)}}">Xem ngay</a></button>
                                        </figure>
                                        <figcaption>
                                            <h3>{{product.name}}</h3>
                                            <span>{{product.author}}</span>
                                            <div class="item-price">{{product.price}} VNĐ</div>
                                        </figcaption>
                                    </div>
                                </div>
                                {%endfor%}
    
                            </div>
                        </div>
                    </div>

                    <div id="fictional" data-tab-content>
                        <div class="row">
                            <div class="row">
                                {%for product in detective_novel%}
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="/static/images/{{ product.image_1 }}" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart"><a class='text-white' href="{{url_for('product_detail',id=product.id)}}">Xem ngay</a></button>
                                        </figure>
                                        <figcaption>
                                            <h3>{{product.name}}</h3>
                                            <span>{{product.author}}</span>
                                            <div class="item-price">{{product.price}} VNĐ</div>
                                        </figcaption>
                                    </div>
                                </div>
                                {%endfor%}
    
                            </div>
                        </div>
                    </div>

                </div>

            </div><!--inner-tabs-->

        </div>
    </div>
</section>
<section id="latest-blog" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Blog sách</span>
                    </div>
                    <h2 class="section-title">Những bài review mới nhất</h2>
                </div>

                <div class="row">

                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up">

                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="/static//images/index/images/post-img3.jpg" alt="post" class="post-image">
                                </a>
                            </figure>

                            <div class="post-item">
                                <div class="meta-date">Mar 30, 2023</div>
                                <h3><a href="#">Khám Phá Những Tác Phẩm Nổi Bật Trong Thế Giới Sách</a></h3>

                                <div class="links-element">
                                    <div class="categories">inspiration</div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up" data-aos-delay="200">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="/static//images/index/images/post-img2.jpg" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Mar 29, 2023</div>
                                <h3><a href="#">Hành Trình Truy Cập Các Thể Loại Sách Phổ Biến</a></h3>

                                <div class="links-element">
                                    <div class="categories">inspiration</div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>
                    <div class="col-md-4">

                        <article class="column" data-aos="fade-up" data-aos-delay="400">
                            <figure>
                                <a href="#" class="image-hvr-effect">
                                    <img src="/static//images/index/images/post-img1.jpg" alt="post" class="post-image">
                                </a>
                            </figure>
                            <div class="post-item">
                                <div class="meta-date">Feb 27, 2023</div>
                                <h3><a href="#">Nghệ Thuật Lựa Chọn Sách: Cẩm Nang Cho Người Đọc Tích Cực</a></h3>

                                <div class="links-element">
                                    <div class="categories">inspiration</div>
                                    <div class="social-links">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="icon icon-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-behance-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--links-element-->

                            </div>
                        </article>

                    </div>

                </div>

                <div class="row">

                    <div class="btn-wrap align-center">
                        <a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">Xem thêm<i
                                class="icon icon-ns-arrow-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock content %}